* {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: "Microsoft Yahei", sans-serif;
	text-decoration: none;
	line-height: 1.5;
}
.btn {
    padding: 5px;
    width: 100%;
}
/* @header */
#header-wrapper {
	position: relative;
	width: 100%;	
	height: 80px;
	background-color: #616161;
}
#header-wrapper * {
	color: #ffffff;
}
#header {
	position: relative;
	width: 980px;
	height: 100%;
	margin: 0 auto;
}
#header .logo {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0;
}
#header .nav {
	position: absolute;
	right: 0;
	bottom: 0;
}
#header .nav li {
	display: inline-block;
	margin: auto 0 5px 28px;
}
#header-wrapper a.github {	
	position: absolute;
	right: 10px;
	bottom: -5px;
}
#main-1, 
#main-2, 
#main-3, 
#main-4, 
#main-5 {
    position: relative;
    width: 700px;
    margin: 20px auto;
}
/* @task1 */
.form-h .text {
    width: 500px;
}
.form-h .result {
    width: 100%;
    text-align: center;
    background-color: #fafaee;
    margin: 10px 0;
    padding: 5px;
}
.form-h .input {
    width: 100%;
    height: 300px;
}
.form-h .error {
    display: none;
    width: 250px;
    text-align: center;
    background-color: red;
    margin: 10px auto;
    padding: 5px;
    font-weight: 700;
}
.form-h .container {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
}
/* @task2 */
.form-c {
    width: 500px;
    margin: 10px auto;
}
.form-c .info {
    margin: 5px auto;
    background-color: #ffe082;
    line-height: 80px;
    text-align: center;
}
.form-c .input {
    width: 496px;
}
.form-c .btn {
    margin: 5px auto;
}
.form-c .counter {
    margin: 5px auto;
    background-color: #2baf2b;
    line-height: 80px;
    font-weight: 700;
    text-align: center;
}
/* @task3 */
.carousal {
    position: relative;
    width: 500px;
    height: 313px;
    margin: 5px auto;
    overflow: hidden;
}
.carousal .container {
    position: relative;
    width: 10000px;
    left: -500px;
}
.carousal .item {
    float: left;
    width: 500px;
    height: 313px;
}
#main-3 .nav {
    position: absolute;
    width: 140px;
    left: 54%;
    margin-left: -70px;
    bottom: 1em;
    list-style-type: none;
    z-index: 1;
}
#main-3 .nav .spot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
}
#main-3 .nav .spot:hover {
    cursor: pointer;
}
#main-3 .config {
    position: absolute;
    top: 340px;
    left: 110px;
}
#main-3 .config * {
    margin-left: 3px;
}
/* @task4 */
#main-4 .search {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 560px;
}
#main-4 .input {
    float: left;
    width: 440px;
    height: 32px;
    padding: 0 8px;
    
    border: 1px solid #c3c3c3;
}
#main-4 .input:hover {
    border-color: #74ade6;
}
#main-4 .submit {
    float: left;
    width: 100px;
    height: 34px;
    border: none;
    background-color: #74ade6;
    color: #fff;
}
#main-4 .submit:hover {
    background-color: #0666c6;
    cursor: pointer;
}
#main-4 .results {
    display: block;
    position: absolute;
    left: 0;
    top: 34px;
    width: 556px;
    list-style: none;
    border: 1px solid #c3c3c3;
    border-top: none;
}
#main-4 .results li {
    display: block;
    padding: 8px;
    line-height: 1em;
    font-size: 12px;
}
#main-4 .results li.focused {
    background-color: #c3c3c3;
}
#main-4 .note {
    position: relative;
    top: 200px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
/* @task5 */
#main-5 {
    position: relative;
    width: 600px;
    height: 500px;
    margin: 20px auto;
    background-color: #c3c3c3;
}
#main-5 .container {
    position: relative;
    float: left;
    margin: 35px 43px;
    width: 100px;
    height: 420px;
    list-style-type: none;
    background-color: #fff;
    border: 6px solid #74ade6;
}
#main-5 .container .item {
    line-height: 38px;
    background-color: #0666c6;
    color: #fff;
    text-align: center;
    border: 1px solid #74ade6;
    cursor: move;
}