/* @util */

@mixin setFS($size) {
    $fontSize: (xl: 20px,
                l: 16px,
                m: 14px,
                s: 12px,
                xs: 10px);
    font-size: map-get($fontSize, $size);
}

@mixin setFW($weight) {
    $fontWeight: (h: 700,
                  m: 400,
                  l: 100);
    font-weight: map-get($fontWeight, $weight);
}

$cl: (general: #f2f2f2,
     line: #cecece,
     _gra: #9b9b9b,
     _yel: #fafaee,
     _red: #e51c23,
     _blu: #6ad7e5,
     _gre: #259b24,);

@mixin setBD($dir: '') {
    @if $dir == '' {
        border: 1px solid map-get($cl, line);
    } @else {
        border-#{$dir}: 1px solid map-get($cl, line);
    }
}

/* @general */

* {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    font-family: 'Microsoft Yahei', sans-serif;
    cursor: default;
    list-style: none;
    border: none;
    @include setFS(m);
    @include setFW(m);
}
#wrapper {
    position: relative;
    width: 1280px;
    height: 600px;
    background-color: map-get($cl, general);
}
div#cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
p.notif {
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -10em;
    width: 20em;
    line-height: 3;
    text-align: center;
    color: #fff;
    z-index: 3;
    
    &.bad {
        background-color: map-get($cl, _red);
    }
    
    &.good {
        background-color: map-get($cl, _gre);
    }
}

p#header {
    position: relative;
    padding-left: 30px;
    line-height: 59px;
    @include setFS(xl);
    @include setBD(bottom);
    
    span.btn {
        position: absolute;
        left: 150px;
        top: 16px;
        padding: 3px;
        color: #fff;
        background-color: map-get($cl, _red);
        @include setBD();
        @include setFS(xs);
        cursor: pointer;
    }
}
div#category,
div#tasks,
div#content {
    position: relative;
    float: left;
    height: 540px;
}

/* @category */

div#category {
    width: 229px;
    @include setBD('right');
    
    h1.title {
        position: relative;
        margin: 50px 0 10px;
        line-height: 2;
        text-align: center;
        background-color: map-get($cl, _gra);
        color: #fff;
        @include setFW(h);
    }
    
    ul.catelist {
        position: relative;
    }
    
    li.cate {
        position: relative;
        width: 176px;
        line-height: 30px;
        background: url(../img/icon-folder.png) no-repeat 20px 50%;
        padding-left: 53px;
        cursor: pointer;

        &.all {
            position: absolute;
            top: -78px;
        }
        
        &.active {
            background-color: #fff;
        }
        
        & * {
            cursor: pointer;
        }
        
        .remove {
            display: none;
            position: absolute;
            top: 2px;
            right: 3px;
        }
        
        span.undone {
            position: absolute;
            width: 24px;
            line-height: 1.4;
            top: 8px;
            right: 30px;
            text-align: center;
            background-color: map-get($cl, _blu);
            border-radius: 40%;
            color: #fff;
            @include setFW(h);
            @include setFS(s);
        }
    }    
}
p.add {
    position: absolute;
    width: 174px;
    bottom: 0;
    padding-left: 55px;
    line-height: 39px;
    background: url(../img/icon-add.png) no-repeat 15px 50%;
    @include setBD(top);
    cursor: pointer;
    
    &:hover {
        background-color: map-get($cl, _blu);
    }
}

/* @tasks */

div#tasks {
    width: 229px;
    @include setBD(right);
    
    ul.status-nav {
        padding-left: 25px;
        @include setBD(bottom);        
    }
    
    li.status {
        display: inline;
        line-height: 40px;
        margin-right: 5px;
        padding: 0 8px;
        border: 1px solid transparent;
        cursor: pointer;
        
        &.active {
            background-color: #fff;
            border-color: map-get($cl, line);
        }
    }
    
    div.tasklist {
        background-color: #fff;
        
        h1.date {
            line-height: 2;
            text-indent: 1em;
            @include setFS(s);
            background-color: map-get($cl, _yel);
            font-style: italic;
        }
        
        li.task {
            line-height: 2;
            text-indent: 2.5em;
            @include setFS(s);
            cursor: pointer;
            
            &.active {
                background-color: map-get($cl, _blu);
                color: #fff;
            }
            
            &.done {
                color: map-get($cl, _gre);
                text-decoration: line-through;
            }
       }
    }
}

/* @content */

div#content {
    width: 800px;
    z-index: 2;
    
    .title,
    .date,
    .main {
        width: 100%;
        line-height: 49px;
        padding-left: 20px;
        @include setBD(bottom);
                    
        &.editable {
            color: map-get($cl, _gra);
            resize: none;
        }
    }
    
    .title {
        @include setFS(l);
        @include setFW(h);    
        
        &.done {
            text-decoration: line-through;
            color: map-get($cl, _gre);
        }
    }
    
    .date {
        background-color: map-get($cl, _yel);
        font-style: italic;
    }
    
    .main {
        background-color: #fff;
        height: 440px;
    }
    
    img.mark,
    img.save {
        position: absolute;
        top: 12px;
        right: 70px;
        cursor: pointer;
    }
    
    img.edit,
    img.cancel {
        @extend img.mark;
        right: 20px;
    }
}